html {
  background: #faf9f9;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: center; */
  margin: 1vh 0.5vw;
  width: 99vw;
  height: 98vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #555b6e;
  font-size: calc(10px + 2vmin);
  color: #faf9f9;
  padding: 1rem 0 3rem 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexItem {
  flex: auto;
  padding: 1rem;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#searchInputBox {
  min-width: 350px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
}

.mainContent {
  background-color: #bee3db59;
  overflow-y: scroll !important;
  flex: auto;
}

.imageWrapper {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  max-width: 45vw;
  max-height: 100%;
  padding: 1rem;
}

/* .fixedTitle { */
/* background: #bee3db; */
/* color: #555b6e; */
/* } */

input {
  font-size: 1rem;
  margin: 1rem;
}
