html {
  background: #222;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: center; */
  margin: 2.5vh 2.5vw;
  width: 95vw;
  height: 95vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #ccc;
  font-size: calc(10px + 2vmin);
  color: #333;
  padding: 1rem 0 3rem 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexItem {
  flex: auto;
}
.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#searchInputBox {
  min-width: 350px;
}

.mainContent {
  background-color: #999;
  height: 100%;
  overflow: hidden;
}
